{% extends "index.html" %}

{% block titulo %}
Iniciar Sesion
{% endblock %}

{% block contenido %}

{% if form.errors %}
<p>Usuario o contraseña incorrecto.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>No tenés permisos para acceder a esta página. Para proceder,
    logueate con una cuenta que tenga accesos.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{% endblock %}