{% extends "index.html" %}

{% load static %}

{% block barraDeNavegacion %}
<a class="navbar-brand" href="{% url 'camioneta' %}">Camionetas</a>
<a class="navbar-brand" href="{% url 'agregarImagenCamioneta' %}">Agregar Imagenes</a>
{% endblock %}

{% block titulo %}
Camionetas
{% endblock %}

{% block contenido %}
<h1>Agregar camioneta</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit", value="Enviar">
    </form>
{% endblock %}