{% extends "index.html" %}

{% load static %}

{% block barraDeNavegacion %}
<a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
<a class="navbar-brand" href="{% url 'moto' %}">Motos</a>
<a class="navbar-brand" href="{% url 'agregarImagenMoto' %}">Agregar Imagenes</a>
{% endblock %}

{% block titulo %}
Motos
{% endblock %}

{% block contenido %}
<h1>Agregar moto</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit", value="Enviar">
    </form>
{% endblock %}