{% extends "index.html" %}

{% load static %}

{% block titulo %}
Autos <br>
<a href="{% url 'auto' %}"><button type="button" class="btn btn-success">Autos</button></a>
<a href="{% url 'agregarAuto' %}"><button type="button" class="btn btn-success">Agregar Autos</button></a>
{% endblock %}

{% block contenido %}

    <h3>Ingrese el auto que mas le guste:</h3>
    <form action="{% url 'mostrarAuto' %}" method="GET">
        {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Buscar">
    </form>
{% endblock %}
    
