{% extends "index.html" %}

{% load static %}

{% block titulo %}
Autos <br>
<a href="{% url 'agregarAuto' %}"><button type="button" class="btn btn-success">Agregar Autos</button></a>
<a href="{% url 'autoBusqueda' %}"><button type="button" class="btn btn-success">Buscar Autos</button></a>
{% endblock %}

{% block contenido %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    <h1>Autos cargados</h1>
    {% for auto in autos %}
    <ul class="list-group">
        <li class="list-group-item"><h4>{{auto.titulo}}</h4> 
            <a href="{% url 'eliminarAuto' auto.titulo %}"><button type="button" class="btn btn-primary">X</button></a>
            <a href="{% url 'editarAuto' auto.titulo %}"><button type="button" href="#" class="btn btn-primary">Editar</button></a>
            <a href="{% url 'verAuto' auto.titulo %}"><button type="button" class="btn btn-primary">Ver mas</button></a>
        </li>
    </ul>
{% endfor %}
{% endblock %}