{% extends "index.html" %}

{% load static %}

{% block titulo %}
Camionetas <br>
<a href="{% url 'agregarCamioneta' %}"><button type="button" class="btn btn-success">Agregar Camionetas</button></a>
<a href="{% url 'camionetaBusqueda' %}"><button type="button" class="btn btn-success">Buscar Camionetas</button></a>
{% endblock %}

{% block contenido %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <h1>Camionetas cargadas</h1>
    {% for camioneta in camionetas %}
    <ul class="list-group">
        <li class="list-group-item"><h4>{{camioneta.titulo}}</h4>
            <a href="{% url 'eliminarCamioneta' camioneta.titulo %}"><button type="button" href="#" class="btn btn-primary">X</button></a>
            <a href="{% url 'editarCamioneta' camioneta.titulo %}"><button type="button" href="#" class="btn btn-primary">Editar</button></a>
            <a href="{% url 'verCamioneta' camioneta.titulo %}"><button type="button" href="#" class="btn btn-primary">Ver mas</button></a>
        </li>
    </ul>
    {% endfor %}
{% endblock %}