{% extends "index.html" %}

{% load static %}

{% block barraDeNavegacion %}
<a class="navbar-brand" href="{% url 'camioneta' %}">Autos</a>
<a class="navbar-brand" href="{% url 'agregarCamioneta' %}">Agregar Camionetas</a>
<a class="navbar-brand" href="{% url 'agregarImagenCamioneta' %}">Agregar Imagenes</a>
{% endblock %}

{% block titulo %}
Camionetas
{% endblock %}

{% block contenido %}
    <h3>Ingrese el auto que mas le guste:</h3>
    <form action="{% url 'mostrarCamioneta' %}" method="GET">
        {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Buscar">
    </form>
{% endblock %}