{% extends "index.html" %}

{% load static %}

{% block titulo %}
Camionetas <br>
<a href="{% url 'camioneta' %}"><button type="button" class="btn btn-success">Camionetas</button></a>
<a href="{% url 'agregarCamioneta' %}"><button type="button" class="btn btn-success">Agregar Camionetas</button></a>
{% endblock %}

{% block contenido %}

    <h3>Ingrese la camioneta que mas le guste:</h3>
    <form action="{% url 'mostrarCamioneta' %}" method="GET">
        {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Buscar">
    </form>
{% endblock %}