{% extends "index.html" %}

{% load static %}

{% block barraDeNavegacion %}
<a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
<a class="navbar-brand" href="{% url 'auto' %}">Autos</a>
<a class="navbar-brand" href="{% url 'autoBusqueda' %}">Buscar Autos</a>
<a class="navbar-brand" href="{% url 'agregarAuto' %}">Agregar Autos</a>
<a class="navbar-brand" href="{% url 'agregarImagenAuto' %}">Agregar Imagenes</a>
{% endblock %}

{% block titulo %}
Autos
{% endblock %}

{% block contenido %}
    <h3>Los resultados son:</h3>
    {% for auto in autos %}
        {{ auto.titulo }}<br>
        {{ auto.subtitulo }}<br>
        {{ auto.cuerpo }}<br>
        {{ auto.autor }}<br>
        {{ auto.fecha }}<br>
        <div class="divider"></div>
    {% endfor %}
{% endblock %}