{% extends "index.html" %}

{% load static %}

{% block barraDeNavegacion %}
<a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
<a class="navbar-brand" href="{% url 'camioneta' %}">Camionetas</a>
<a class="navbar-brand" href="{% url 'camionetaBusqueda' %}">Buscar Camionetas</a>
<a class="navbar-brand" href="{% url 'agregarCamioneta' %}">Agregar Camionetas</a>
<a class="navbar-brand" href="{% url 'agregarImagenCamioneta' %}">Agregar Imagenes</a>
{% endblock %}

{% block titulo %}
Camionetas
{% endblock %}

{% block contenido %}
    <h3>Los resultados son:</h3>
    {% for camioneta in camionetas %}
        {{ camioneta.titulo }}<br>
        {{ camioneta.subtitulo }}<br>
        {{ camioneta.cuerpo }}<br>
        {{ camioneta.autor }}<br>
        {{ camioneta.fecha }}<br>
        <div class="divider"></div>
    {% endfor %}
{% endblock %}