{% extends "index.html" %}

{% load static %}

{% block barraDeNavegacion %}
<a class="navbar-brand" href="{% url 'moto' %}">Motos</a>
<a class="navbar-brand" href="{% url 'motoBusqueda' %}">Buscar Motos</a>
<a class="navbar-brand" href="{% url 'agregarMoto' %}">Agregar Motos</a>
{% endblock %}

{% block titulo %}
Motos
{% endblock %}

{% block contenido %}
    <h3>Los resultados son:</h3>
    {% for moto in motos %}
        {{ moto.titulo }}<br>
        {{ moto.subtitulo }}<br>
        {{ moto.cuerpo }}<br>
        {{ moto.autor }}<br>
        {{ moto.fecha }}<br>
        {% if moto.imagen %}
            <img src="{{ moto.imagen.url }}" width="50%" weigth="50%"><br>
        {% else %}
            <p>No hay imagen.</p>
        {% endif %}
    {% endfor %}
    <hr class="my-4" />
{% endblock %}