{% extends "index.html" %}

{% load static %}

{% block barraDeNavegacion %}
<a class="navbar-brand" href="{% url 'auto' %}">Autos</a>
<a class="navbar-brand" href="{% url 'autoBusqueda' %}">Buscar Autos</a>
<a class="navbar-brand" href="{% url 'agregarAuto' %}">Agregar Autos</a>
{% endblock %}

{% block titulo %}
Autos
{% endblock %}

{% block contenido %}
    {% for auto in autos %}
        {{ auto.titulo }}<br>
        {{ auto.subtitulo }}<br>
        {{ auto.cuerpo }}<br>
        {{ auto.autor }}<br>
        {{ auto.fecha }}<br>
        {% if auto.imagen %}
            <img src="{{ auto.imagen.url }}" width="50%" weigth="50%"><br>
        {% else %}
            <p>No hay imagen.</p>
        {% endif %}
    <hr class="my-4" />
    {% endfor %}
{% endblock %}
