{% extends "index.html" %}

{% load static %}

{% block titulo %}
Motos <br>
<a href="{% url 'moto' %}"><button type="button" class="btn btn-success">Motos</button></a>
<a href="{% url 'agregarMoto' %}"><button type="button" class="btn btn-success">Agregar Motos</button></a>
{% endblock %}

{% block contenido %}

    <h3>Ingrese la moto que mas le guste:</h3>
    <form action="{% url 'mostrarMoto' %}" method="GET">
        {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Buscar">
    </form>
{% endblock %}