{% extends "index.html" %}

{% load static %}

{% block titulo %}
Motos <br> 
<a href="{% url 'agregarMoto' %}"><button type="button" class="btn btn-success">Agregar Motos</button></a>
<a href="{% url 'motoBusqueda' %}"><button type="button" class="btn btn-success">Buscar Motos</button></a>
{% endblock %}

{% block contenido %}

    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}

    <h1>Motos cargadas</h1>
    {% for moto in motos %}
    <ul class="list-group">
        <li class="list-group-item"><h4>{{moto.titulo}}</h4>
            <a href="{% url 'eliminarMoto' moto.titulo %}"><button type="button" href="#" class="btn btn-primary">X</button></a>
            <a href="{% url 'editarMoto' moto.titulo %}"><button type="button" href="#" class="btn btn-primary">Editar</button></a>
            <a href="{% url 'verMoto' moto.titulo %}"><button type="button" href="#" class="btn btn-primary">Ver mas</button></a>
        </li>
    </ul>
    {% endfor %}

{% endblock %}