{% extends "index.html" %}

{% load static %}

{% block barraDeNavegacion %}
<a class="navbar-brand" href="{% url 'moto' %}">motos</a>
<a class="navbar-brand" href="{% url 'agregarMoto' %}">Agregar Motos</a>
{% endblock %}

{% block titulo %}
Motos
{% endblock %}

{% block contenido %}
    <h3>Ingrese el auto que mas le guste:</h3>
    <form action="{% url 'mostrarMoto' %}" method="GET">
        {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Buscar">
    </form>
{% endblock %}